::-moz-selection {
  /* Code for Firefox */
  color: green;
  background: black;
}

::selection {
  color: green;
  background: black;
}

body {
  background-color: #8ca171;
  /*background-image: url('gachimuchi-steve-rambo.gif');
background-repeat: no-repeat;
background-size:80% 80%;/*/
  text-align: center;
}

header {
  margin: 12px;
  font-family: 'Imbue';
  font-size: 48px;
}
.listed {
  display: flex;
}

.listed div {
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Gseneva, Verdana, sans-serif;
  font-size: 36px;
  margin: 6px;
}
#left,
#right {
  padding: 0 14vw 0 14vw;
  display: flex;
  flex-direction: column;
  width: 28vw;
  float: left;
}
.itemsname {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.listed li {
  list-style-type: armenian;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  text-align: left;
  padding: 0;
  text-shadow: #977402;
}
.listed button {
  width: 180px;
  height: 100px;
  background-size: cover;
  border: 2px solid #000000;
  background-color: #7a9840;
  color: white;
  padding: 8px;
  text-align: block;
  text-decoration: none;
  font-size: 22px;
  margin: auto;
  border-radius: 12px;
  transition-duration: 0.4s;
  text-decoration: none;
  /*overflow: hidden;*/
  cursor: pointer;
  /*background-image:url('gachimuchi-steve-rambo.gif') ;*/
}
/*#addWishInstance{
   
}*/

.listed .modal-content button:hover {
  background-color: #3e8e41;
  /*background-image:url('reversegachi.gif')*/
}

.listed .modal-content button:active {
  /* transform:scale(1.5) ;*/

  transform: translateY(5px);
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  /* background-image:url('breakshirt.gif')*/
}

/* The modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #505e47;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid #535624;
  width: 50%;
  font-size: 20px;
  /* height: 30%;*/
}
.modal-content button {
  width: 75px;

  background-size: cover;
  border: 2px solid #000000;
  background-color: #7a9840;
  color: white;
  padding: 8px;
  text-align: block;
  text-decoration: none;
  font-size: 24px;
  margin: auto;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* The Close Button */
.close {
  color: #682e2e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
select {
  font-size: 1.5rem;
  padding: 2px 5px;
  width: 14vw;
  background-color: #2e6561;
  border: 2px solid #000000;
  border-radius: 6px;
}
select:active,
select:hover {
  outline: none;
}

/* make it red instead (with with same width and style) */
select:active,
select:hover {
  outline-color: green;
}
